<!DOCTYPE html>
<html>
<head>
  <title>ExtWsTube</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag    "https://extjs.cachefly.net/ext-4.1.1-gpl/resources/css/ext-all.css" %>

  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
